/*Estilos generales*/
html {
    font-size: 16px;
    height: 100%;
    font-family: "DynaPuff";
    color: rgb(0, 0, 0);
    margin-top: 100px;
    text-shadow: 2px 2px 5px black;
}

header {
    text-align: center;

}

@media screen and(max-width:400px) {
    html {
        font-size: 9.41176px;
    }
}

h1 {
    font-size: 80px;
    color: rgb(255, 182, 46);
}

h2 {
    font-size: 30px;
    color: rgb(179, 255, 103);
}

.encabezado,
.contenido,
.piedepagina {
    color: black;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(188, 188, 188);

    /*Los colores de aqui pueden cambiar, solo puse para guiarnos que es cada cosa*/
    /*Encabezado de la pagina*/
    nav {
        padding: 1rem;
        margin: 0;
        background-color: rgb(255, 195, 106);

    }

    .encabezado {
        position: fixed;
        top: 0;
        bottom: 39rem;
        left: 0;
        right: 0;
    }


    /*Contenido de la pagina*/
    main {
        padding: 1rem;
        margin: 0;
        background-color: rgb(67, 67, 67);
        flex: 1;

    }

    /*Pie de pagina*/
    footer {
        padding: 1rem;
        margin: 0;
        background-color: rgb(94, 255, 79);
    }

    .piedepagina {
        /*Este es para que el bloque de footer no se mueva de la pantalla*/
        position: fixed;
        top: 42.5rem;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.inicio,
.catalogo,
.acerca,
li {
    /*Esto es para el menu se quede quieto junto al bloque del encabezado*/
    list-style: none;
    padding: 0;
    position: fixed;
    flex-direction: row;
    top: 2rem;
    font-size: 35px;
    color: black;
}
li:hover {
    color: rgb(248, 255, 40);
    transition: all 0.3s;
}
.inicio {
    left: 22rem;
}

.catalogo {
    left: 42rem;
}

.acerca {
    left: 60rem;
}

.logo {

    /*lo mismo que el menu pero el logo*/
    height: 75px;
    width: 100px;
    position: fixed;
    right: 0rem;
}

/* estilo de redes sociales*/
.maps,
.facebook,
.whatsapp {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 0.1rem;
}

.maps {
    right: 0rem;
}

.whatsapp {
    right: 5rem;
}

.facebook {
    right: 10rem;
}

/*Empezamos a poner estilos a las imagenes*/
.bannana,
.ovo,
.artesanal {
    font-size: 20px;
    font-family: "Luckiest Guy";
    color: white;

}

.bannanaimg {
    height: 100px;
    width: 100px;

}


.ovoimg {
    height: 100px;
    width: 100px;

}

.artesanalimg {
    height: 100px;
    width: 100px;

}

/*Estilo a el contenido en la clase (nosotros)*/
.nosotros {
    font-size: 20px;
    font-family: "DynaPuff";
    color: white;

}